ion-item{
    --background:#f1f1f1;
    border-radius: 18px;
    margin-bottom: 15px;
    margin: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
.header{
    margin-top: 100px;
    margin-bottom: 88px;
    text-align: center;

    .subTitle{
        color: grey;
        font-size: 0.9rem;
    }
    title{
        font-size: 2rem;
    }
}
.input{
    font-size: 300;
}
ion-button{
    margin-top: 60%;
    margin-left: 55%;
}