ion-item{
    --background:#f1f1f1;
    border-radius: 15px;
    margin-bottom: 18px;
    margin: 10px;
    }
    .welcome{
        display: flex;
        justify-content: center;
        align-items: center;
        color: chartreuse;
    }
    .padding{
        p{
            margin-left: 20px;
        }
    }